@import './src/base';

.Button {
  background-color: $clr-accent-200;
  color: $clr-neutral;
  font-size: 16px;
  outline: none;
  border-radius: $border-radius;
  border: none;
  padding: 10px 15px;
  width: 100%;
  &__disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:hover,
  &:focus-visible {
    background-color: $clr-accent-100;
  }
}
