$clr-primary: hsl(240, 7%, 12%);
$clr-secondary: hsl(240, 1%, 47%);
$clr-accent-200: hsl(212, 94%, 49%);
$clr-accent-100: hsl(212, 97%, 73%);
$clr-neutral: hsl(0 0% 100%);

$clr-error: hsl(0, 92%, 47%);
$clr-success: hsl(113deg 43.88% 65.46%);
$clr-warning: hsl(39, 98%, 63%);
$clr-info: hsl(192, 98%, 63%);
