<div class="container grid grid--center">
  <div class="card">
    <div class="card__title">
      <h1>Create Account</h1>
      <span>Already have an account? <a href="login" (click)="preventNavigation($event); signIn()">Sign In</a></span>
    </div>
    <div class="form">
      <form [formGroup]="signUpForm" action="/register" method="post">
        <app-text-input formControlName="firstName" [placeholder]="'First Name'" label="First Name"></app-text-input>
        <app-text-input formControlName="lastName" [placeholder]="'Last Name'" label="Last Name"></app-text-input>
        <app-text-input formControlName="email" [type]="'email'" [placeholder]="'Email'" label="Email"></app-text-input>
        <!-- <button>Sign Up</button> -->
        <app-button [disabled]="signUpForm.invalid" [type]="'submit'" (clicked)="signUp()">Sign Up</app-button>
      </form>
    </div>
  </div>
</div>
<app-loading-swirly *ngIf="loading"></app-loading-swirly>
